
.bg-publichome {
  background-image: url(img/hero-bg.jpg);
  background-size: cover;
  background-position: bottom;
}

section.cover.height-80.imagebg.text-center.section--ken-burns.bg-publichome:before {
    background: #002538;
}

section.text-center.unpad--bottom.switchable.cta.cta-3.switchable--switch.logo-section {
    background: #fafafa;
    height: 80px;
}
