<template name="AgenciesDetails">
	<a id="start"></a>
	<div class="main-container" id="content">
		{{> reveal}}
		{{> detailademo}}
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> AgenciesDetailsForm}}
	</div>

</template>

<template name="AgenciesDetailsForm">
	<div id="agencies-details-form" class="">
		<h2 id="component-title">
			<a href="#" id="form-back-button" class="btn btn-default" title="back">
				<span class="fa fa-chevron-left">
				</span>
			</a>
			Agency Details
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-agency_name">
				<label for="Agency_Name">
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-agency_name">
						{{agency.Agency_Name}}
					</p>
				</div>
			</div>
			<div class="form-group  field-agency_address_1">
				<label for="Agency_Address_1">
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-agency_address_1">
						{{agency.Agency_Address_1}}
					</p>
				</div>
			</div>
			<div class="form-group  field-agency_address_2">
				<label for="Agency_Address_2">
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-agency_address_2">
						{{agency.Agency_Address_2}}
					</p>
				</div>
			</div>
			<div class="form-group  field-agency_city">
				<label for="Agency_City">
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-agency_city">
						{{agency.Agency_City}}
					</p>
				</div>
			</div>
			<div class="form-group  field-agency_state">
				<label for="Agency_State">
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-agency_state">
						{{agency.Agency_State}}
					</p>
				</div>
			</div>
			<div class="form-group  field-agency_zipcode">
				<label for="Agency_Zipcode">
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-agency_zipcode">
						{{agency.Agency_Zipcode}}
					</p>
				</div>
			</div>
			<div class="form-group  field-agency_phone">
				<label for="Agency_Phone">
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-agency_phone">
						{{agency.Agency_Phone}}
					</p>
				</div>
			</div>
			<div class="form-group  field-agency_fax">
				<label for="Agency_Fax">
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-agency_fax">
						{{agency.Agency_Fax}}
					</p>
				</div>
			</div>
			<div class="form-group  field-agency_email">
				<label for="Agency_Email">
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-agency_email">
						{{agency.Agency_Email}}
					</p>
				</div>
			</div>
			<div class="form-group  field-agency_url">
				<label for="Agency_URL">
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-agency_url">
						{{agency.Agency_Photo}}
					</p>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<a href="#" id="form-close-button" class="btn btn-primary">
						OK
					</a>
				</div>
			</div>
		</form>
	</div>
</template>


<template name="detailademo">
	<!-- Fundraise Up -->
	<script>(function(w,d,s,n,a){if(!w[n]){var l='call,catch,on,once,set,then,track'
	.split(','),i,o=function(n){return'function'==typeof n?o.l.push([arguments])&&o
	:function(){return o.l.push([n,arguments])&&o}},t=d.getElementsByTagName(s)[0],
	j=d.createElement(s);j.async=!0;j.src='https://cdn.fundraiseup.com/widget/'+a;
	t.parentNode.insertBefore(j,t);o.s=Date.now();o.v=4;o.h=w.location.href;o.l=[];
	for(i=0;i<7;i++)o[l[i]]=o(l[i]);w[n]=o}
})(window,document,'script','FundraiseUp','{{agency.Agency_FRUP_ID}}');</script>
	<!-- End Fundraise Up -->

	<script>
		FundraiseUp.on('checkoutOpen', function(details) {
	           console.log(details.campaign);
		});
	</script>
	<section class="cover height-80 imagebg text-center parallax {{agency.Agency_Photo}}" data-overlay="5">
                <div class="background-image-holder background--top">
                    <img alt="background" src="/img/{{agency.Agency_Photo}}.jpg" />
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-8">
                            <img alt="Image" src="/img/{{agency.Agency_Logo}}.jpg" />
                            <h3>
                                Welcome to {{agency.Agency_Name}}
                            </h3>
                            <a class="btn btn--primary type--uppercase" href="#givenow">
                                <span class="btn__text">
                                    Donate Today
                                </span>
                            </a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="border--bottom space--xxs">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="modal-instance">
                                <a class="btn type--uppercase modal-trigger" href="#">
                                    <span class="btn__text">
                                        &#9654; Campaign Video
                                    </span>
                                </a>
                                <div class="modal-container">
                                    <div class="modal-content bg-dark" data-width="60%" data-height="60%">
                                        <iframe data-src="https://www.youtube.com/embed/6p45ooZOOPo?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
                                    </div>
                                    <!--end of modal-content-->
                                </div>
                                <!--end of modal-container-->
                            </div>
                            <!--end of modal instance-->
                            <span class="block--xs">See how we're helping young people achieve in Tanzania</span>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-8">
                            <h2>An exercise in collaboration</h2>
                            <p class="lead">
                                Our vision is for strong and resilient communities where all persons have adequate housing and health care, and where everyone is supported to live with a sense of self-worth and self-determination.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="feature feature-6">
                                <i class="icon icon--lg icon-Laughing color--primary"></i>
                                <h4>Empower Youth</h4>
                                <p>
                                    Stack comes with integration for Mail Chimp and Campaign Monitor forms - ideal for launching modern marketing campaigns
                                </p>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-6">
                                <i class="icon icon--lg icon-Medical-Sign color--primary"></i>
                                <h4>Provide Aid</h4>
                                <p>
                                    Stack comes with integration for Mail Chimp and Campaign Monitor forms - ideal for launching modern marketing campaigns
                                </p>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-6">
                                <i class="icon icon--lg icon-Finger-Print color--primary"></i>
                                <h4>Strengthen Community</h4>
                                <p>
                                    Stack comes with integration for Mail Chimp and Campaign Monitor forms - ideal for launching modern marketing campaigns
                                </p>
                            </div>
                            <!--end feature-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Current Campaigns</h2>
                            <div class="slider" data-arrows="false" data-paging="true">
                                <ul class="slides">
                                    <li class="col-md-4 col-12">
                                        <div class="feature feature-1">
                                            <img alt="Image" src="img/nonprofit-2.jpg" />
                                            <div class="feature__body boxed boxed--border">
                                                <h5>Project H20</h5>
                                                <p>
                                                    Providing clean drinking water to remote villages in Burmah
                                                </p>
                                                <a href="#">
                                                    Learn More
                                                </a>
                                            </div>
                                        </div>
                                        <!--end feature-->
                                    </li>
                                    <li class="col-md-4 col-12">
                                        <div class="feature feature-1">
                                            <img alt="Image" src="img/nonprofit-3.jpg" />
                                            <div class="feature__body boxed boxed--border">
                                                <h5>Drawn To Creativity</h5>
                                                <p>
                                                    Providing creative materials to empower budding artists
                                                </p>
                                                <a href="#">
                                                    Learn More
                                                </a>
                                            </div>
                                        </div>
                                        <!--end feature-->
                                    </li>
                                    <li class="col-md-4 col-12">
                                        <div class="feature feature-1">
                                            <img alt="Image" src="img/nonprofit-4.jpg" />
                                            <div class="feature__body boxed boxed--border">
                                                <h5>Built To Prosper</h5>
                                                <p>
                                                    Providing stable dwellings for families in Tanzania
                                                </p>
                                                <a href="#">
                                                    Learn More
                                                </a>
                                            </div>
                                        </div>
                                        <!--end feature-->
                                    </li>
                                    <li class="col-md-4 col-12">
                                        <div class="feature feature-1">
                                            <img alt="Image" src="img/nonprofit-6.jpg" />
                                            <div class="feature__body boxed boxed--border">
                                                <h5>Leaf Off Our Trees</h5>
                                                <p>
                                                    Preserving endangered tree species in North America
                                                </p>
                                                <a href="#">
                                                    Learn More
                                                </a>
                                            </div>
                                        </div>
                                        <!--end feature-->
                                    </li>
                                </ul>
                            </div>
                            <!--end of row-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable switchable--switch bg--secondary">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-md-6 col-lg-5">
                            <div class="switchable__text">
                                <h2>Stay informed about new and upcoming campaigns</h2>
                                <p class="lead">
                                    Our customers love the comfort that comes with six-months of included support. Our dedicated support forum makes support hassle-free.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="bg--secondary boxed boxed--border boxed--lg">
                                <form action="//mrare.us8.list-manage.com/subscribe/post?u=77142ece814d3cff52058a51f&amp;id=f300c9cce8" data-success="Thanks for signing up.  Please check your inbox for a confirmation email." data-error="Please provide your name and email address and agree to the terms.">
                                    <input class="validate-required" type="text" name="NAME" placeholder="Your Name" />
                                    <input class="validate-required validate-email" type="email" name="EMAIL" placeholder="Email Address" />
                                    <input class="validate-required" type="checkbox" name="group[13737][1]" />
                                    <span>I have read and agree to the
                                        <a href="#">terms and conditions</a>
                                    </span>
                                    <button type="submit" class="btn btn--primary type--uppercase">Subscribe To Newsletter</button>
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                        <input type="text" name="b_77142ece814d3cff52058a51f_f300c9cce8" tabindex="-1" value="">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center imagebg parallax" data-overlay="4">
                <div class="background-image-holder">
                    <img alt="background" src="img/nonprofit-5.jpg" />
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-lg-8">
                            <div class="cta">
                                <h2>Change lives, empower people and build meaningful connections as a volunteer</h2>
                                <p class="lead">
                                    On average, applicants are 40% more likely to find ongoing work in the creative industry using our jobs board.
                                </p>
                                <a class="btn btn--primary type--uppercase" href="#">
                                    <span class="btn__text">
                                        Register Interests
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
</template>
<template name="revealbtn">

</template>
<template name="reveal">

</template>
