<template name="AgenciesInsert">
	<div class="main-container">
		<div class="row justify-content-center">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<section class="text-left">
								{{> AgenciesInsertForm}}
					</section>
				</div>
		</div>
		<!--end of row-->
	</div>
</template>

<template name="AgenciesInsertForm">
	<div id="agencies-insert-form" class="">
	<section class="text-center imagebg" data-gradient-bg='#4876BD,#5448BD,#8F48BD,#BD48B1'>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-8">
                            <form class="form--inline form-email" data-success="Thanks for your enquiry, we'll be in touch shortly." data-error="Please fill in all fields correctly.">
                                <span class="h4 inline-block">My Nonprofit name is</span>
                                <input type="text" name="Agency_Name" placeholder="Non Profit Name" class="validate-required" />
                                <span class="h4 inline-block">which helps</span>
																<div class="input-select">
                                    <select class="validate-required">
                                        <option selected="" value="">Select Cause</option>
                                        <option value="Design">Feed</option>
                                        <option value="Development">Rescue</option>
                                        <option value="Branding">Educate</option>
                                    </select>
                                </div>
																<div class="input-select">
                                    <select class="validate-required">
                                        <option selected="" value="">Select Problem</option>
                                        <option value="Design">Hungry</option>
                                        <option value="Development">Neglected</option>
                                        <option value="Branding">Abused</option>
                                    </select>
                                </div>
																<div class="input-select">
                                    <select class="validate-required">
                                        <option selected="" value="">Select Receiver</option>
                                        <option value="Design">Children</option>
                                        <option value="Development">Animals</option>
                                        <option value="Branding">Wildlife</option>
                                    </select>
                                </div>
                                <span class="h4 inline-block">I'm looking for someone to work with us on</span>
                                <input type="text" name="Company" placeholder="Company Name" class="validate-required" />
																<div class="input-select">
                                    <select class="validate-required">
                                        <option selected="" value="">Select</option>
                                        <option value="Design">Web Design</option>
                                        <option value="Development">Web Development</option>
                                        <option value="Branding">Branding</option>
                                    </select>
                                </div>
                                <span class="h4 inline-block">Budget-wise, I am looking to keep around the</span>
                                <div class="input-select">
                                    <select class="validate-required">
                                        <option selected="" value="">Select</option>
                                        <option value="0-5k">&lt; 5,000</option>
                                        <option value="5k-10k">5,000 - 10,000</option>
                                        <option value="10k-20k">10,0000 +</option>
                                    </select>
                                </div>
                                <span class="h4 inline-block">mark,</span>
                                <span class="h4 inline-block">and I'm hoping to have the project complete around</span>
                                <input type="text" name="Date" placeholder="Date / Timeframe" class="validate-required" />
                                <span class="h4 inline-block">Contact me via</span>
                                <input type="email" name="email" placeholder="Email Address" class="validate-required validate-email" />
                                <span class="h4 inline-block">or</span>
                                <input type="tel" name="Phone" placeholder="Phone Number" class="validate-required" />
                                <span class="h4 inline-block">and we can discuss the project in more detail.</span>
                                <div>
                                    <button type="submit" class="btn btn--primary type--uppercase">Send Enquiry</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

		<h2 id="component-title">
			Add New Organization
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-agency_name">
				<label for="Agency_Name">
					Name
				</label>
				<div class="input-div">
					<input type="text" name="Agency_Name" value="" class="form-control " autofocus="autofocus" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-agency_address_1">
				<label for="Agency_Address_1">
					Address 1
				</label>
				<div class="input-div">
					<input type="text" name="Agency_Address_1" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="input-select">
					<select class="validate-required">
							<option id="drop-1" selected="" name="Agency_Address_3" value="" class="form-control " data-type="string">Select Problem</option>
							<option id="drop-2" value="Design">Hungry</option>
							<option id="drop-3" value="Development">Neglected</option>
							<option id="drop-4" value="Branding">Abused</option>
					</select>
			</div>
			<div class="form-group  field-agency_address_2">
				<label for="Agency_Address_2">
					Address 2
				</label>
				<div class="input-div">
					<input type="text" name="Agency_Address_2" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-agency_city">
				<label for="Agency_City">
					City
				</label>
				<div class="input-div">
					<input type="text" name="Agency_City" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-agency_state">
				<label for="Agency_State">
					State
				</label>
				<div class="input-div">
					<input type="text" name="Agency_State" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-agency_zipcode">
				<label for="Agency_Zipcode">
					Zipcode
				</label>
				<div class="input-div">
					<input type="text" name="Agency_Zipcode" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-agency_phone">
				<label for="Agency_Phone">
					Phone
				</label>
				<div class="input-div">
					<input type="text" name="Agency_Phone" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-agency_fax">
				<label for="Agency_Fax">
					Fax
				</label>
				<div class="input-div">
					<input type="text" name="Agency_Fax" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-agency_email">
				<label for="Agency_Email">
					Email
				</label>
				<div class="input-div">
					<input type="text" name="Agency_Email" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-agency_url">
				<label for="Agency_URL">
					Web Address
				</label>
				<div class="input-div">
					<input type="text" name="Agency_URL" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-agency_logo_light col-md-6">
				<label for="Agency_Logo_Light">
					Nonprofit Light Logo URL
				</label>
				<div class="input-div">
					<input type="text" name="Agency_Logo_Light" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-agency_logo_dark col-md-6">
				<label for="Agency_Logo_Dark">
					Nonprofit Dark Logo URL
				</label>
				<div class="input-div">
					<input type="text" name="Agency_Logo_Dark" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>

			<!-- FundraiseUp Org Code -->
			<div class="form-group  field-agency_frup_id">
				<label for="Agency_FRUP_ID">
					Fundraise Up Account ID
				</label>
				<div class="input-div">
					<input type="text" name="Agency_FRUP_ID" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<!-- FundraiseUp Org Code END -->
			<section class="text-left agency-photo">
				<div class="form-group  field-agency_photo input-radio input-radio--innerlabel">
					<div class="img-box">
						<input id="radio-1" type="radio" name="Agency_Photo" value="nonprofit-1" />
						<label class="bg-insert-1" data-overlay="9" for="radio-1">Girl In Window<br></label>
					</div>

					<div class="img-box">
						<input id="radio-2" type="radio" name="Agency_Photo" value="nonprofit-2" />
						<label class="bg-insert-2" data-overlay="9" for="radio-2">Girls At Water Well<br></label>

					</div>
					<div class="img-box">
						<input id="radio-3" type="radio" name="Agency_Photo" value="nonprofit-3" />
						<label class="bg-insert-3" data-overlay="9" for="radio-3">Kids Playing</label>

					</div>
					<div class="img-box">
						<input id="radio-4" type="radio" name="Agency_Photo" value="nonprofit-4" />
						<label class="bg-insert-4" data-overlay="9" for="radio-4">Kids Running</label>

					</div>
					<div class="img-box">
						<input id="radio-5" type="radio" name="Agency_Photo" value="nonprofit-5" />
						<label class="bg-insert-5" data-overlay="9" for="radio-5">Embracing Child</label>

					</div>
					<div class="img-box">
						<input id="radio-6" type="radio" name="Agency_Photo" value="nonprofit-6" />
						<label class="bg-insert-6" data-overlay="9" for="radio-6">Tall Tree</label>

					</div>
					<div class="img-box">
						<input id="radio-7" type="radio" name="Agency_Photo" value="nonprofit-7" />
						<label class="bg-insert-7" data-overlay="9" for="radio-7">Animal</label>

					</div>
					<div class="img-box">
						<input id="radio-8" type="radio" name="Agency_Photo" value="nonprofit-8" />
						<label class="bg-insert-8" data-overlay="9" for="radio-8">Family Services</label>

					</div>
					<div class="img-box">
						<input id="radio-9" type="radio" name="Agency_Photo" value="nonprofit-9" />
						<label class="bg-insert-9" data-overlay="9" for="radio-9">Poverty</label>

					</div>
					<div class="img-box">
						<input id="radio-10" type="radio" name="Agency_Photo" value="nonprofit-10" />
						<label class="bg-insert-10" data-overlay="9" for="radio-10">Overseas</label>

					</div>
				</div>
			</section>
			<div class="form-group">
				<div class="submit-div">
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
					<button id="form-submit-button" class="btn btn-success" type="submit">
						Save
					</button>
				</div>
			</div>
		</form>
	</div>
	</template>
